nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  z-index: 1000;
}


nav ul {
  display: flex;
  gap: 0.25rem;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

nav a,
nav strong,
nav button {
  color: var(--primary);
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  border: 1px solid var(--primary);
  padding: 0.5rem 1rem;
  background: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
}

nav a:hover,
nav button:hover {
  background: var(--primary);
  color: black;
}

nav a.cta {
  border: 1px solid var(--primary);
  padding: 0.5rem 1rem;
}

nav a.cta:hover {
  background: var(--primary);
  color: black;
}