/* .section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 2rem;
} */

.Advertising-containner {
  margin-top: 90px;
  align-items: start;
  padding-left: 20%;
  padding-right: 20%;
}

.Advertising-containner h1 {
  font-size: 4.5rem;
  color: var(--primary);
  /* margin-bottom: 1rem; */
  text-shadow: 0 0 20px #d59f38;

}

.Advertising-containner h2 {
  font-size: 3.5rem;
  color: var(--primary);
  /* margin-bottom: 1rem; */
  text-shadow: 0 0 20px #d59f38;
}

.Advertising-containner h3 {
  font-size: 2rem;
  color: var(--primary);
  text-align: start;
  text-shadow: 0 0 20px #d59f38;
}

.Advertising-containner-text {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

.Advertising-preface-text {
  font-size: 1.4rem;
  opacity: 0.95;
  line-height: 1.8;
  /* เพิ่มระยะบรรทัดให้อ่านง่าย */
  text-align: justify;
  /* จัดย่อหน้าเต็มบรรทัด */
}

.Advertising-preface-text-frist {
  font-size: 1.4rem;
  opacity: 0.95;
  text-indent: 20px;
  line-height: 1.8;
  /* เพิ่มระยะบรรทัดให้อ่านง่าย */
  text-align: justify;
  /* จัดย่อหน้าเต็มบรรทัด */
}


.Advertising-dot-Text {
  position: relative;
  font-size: 1.4rem;
  opacity: 0.95;
  line-height: 1.8;
  text-align: justify;
  padding-left: 20px;
  /* เว้นช่องไว้สำหรับจุด */
}

.submain-text {
  font-size: 3rem;
  color: var(--primary);

  text-shadow: 0 0 20px #d59f38;
}

.Advertising-dot-Text::before {
  content: "•";
  /* จุดนำหน้า */
  position: absolute;
  left: 0;
  color: var(--primary);
  /* หรือเปลี่ยนสีได้ */
  font-weight: bold;
}

.Advertising-containner-text-subtitle p {
  font-size: 1.4rem;
  opacity: 0.95;
  line-height: 1.8;
  text-align: justify;
}

.Advertising-preface-text-subtitle {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.4rem;
  opacity: 0.95;
  line-height: 1.8;
  text-align: justify;
}

.Advertising-question-containner {
  margin-bottom: 1px;
  margin-top: 1px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  /* สีเทาอ่อน */
  margin: 20px 0;
  /* ระยะห่างบน-ล่าง */
}





@media (max-width: 768px) {

  .Advertising-containner {
    padding-left: 5%;
    padding-right: 5%;
  }

  .Advertising-containner h1 {
    font-size: 3rem
  }

  .Advertising-preface-text-frist {
    font-size: 1.1rem;
    line-height: 1.6;
    /* ระยะห่างระหว่างบรรทัด */
    margin-bottom: 10px;
    /* เว้นช่องแต่ละบรรทัด */
    text-align: left;
    /* จัดให้อ่านง่าย */
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  .Advertising-containner h2 {
    font-size: 2rem;
  }

  .submain-text {
    font-size: 1.97rem;
    line-height: 1.6;
    /* ระยะห่างระหว่างบรรทัด */
    margin-bottom: 10px;
    /* เว้นช่องแต่ละบรรทัด */
    text-align: left;
    /* จัดให้อ่านง่าย */
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  .Advertising-containner h3 {
    font-size: 1.5rem;

  }

  .Advertising-dot-Text {
    font-size: 1.15rem;
    line-height: 1.6;
    /* ระยะห่างระหว่างบรรทัด */
    margin-bottom: 10px;
    /* เว้นช่องแต่ละบรรทัด */
    text-align: left;
    /* จัดให้อ่านง่าย */
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }

  .Advertising-preface-text-subtitle p {
    font-size: 1.1rem;
    line-height: 1.6;
    /* ระยะห่างระหว่างบรรทัด */
    margin-bottom: 10px;
    /* เว้นช่องแต่ละบรรทัด */
    text-align: left;
    /* จัดให้อ่านง่าย */
    display: flex;
    align-items: flex-start;
    gap: 8px;
  }
}