/* .section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 2rem;
} */

.Digital_Marketing-containner {
  margin-top: 90px;
  align-items: start;
  padding-left: 20%;
  padding-right: 20%;
}

.Digital_Marketing-containner h1 {
  font-size: 4.5rem;
  color: var(--primary);
  /* margin-bottom: 1rem; */
  text-shadow: 0 0 20px #d59f38;

}

.Digital_Marketing-containner h2 {
  font-size: 3.5rem;
  color: var(--primary);
  /* margin-bottom: 1rem; */
  text-shadow: 0 0 20px #d59f38;
}

.Digital_Marketing-containner h3 {
  font-size: 2rem;
  color: var(--primary);
  text-align: start;
  text-shadow: 0 0 20px #d59f38;
}

.Digital_Marketing-containner-text {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.Digital_Marketing-preface-text {
  font-size: 1.4rem;
  opacity: 0.95;
  line-height: 1.8;
  /* เพิ่มระยะบรรทัดให้อ่านง่าย */
  text-align: justify;
  /* จัดย่อหน้าเต็มบรรทัด */
}

.Digital_Marketing-preface-text-frist {
  font-size: 1.4rem;
  opacity: 0.95;
  text-indent: 20px;
  line-height: 1.8;
  /* เพิ่มระยะบรรทัดให้อ่านง่าย */
  text-align: justify;
  /* จัดย่อหน้าเต็มบรรทัด */
}

/* .containner-text-subtitle {
   margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
} */

.Digital_Marketing-containner-text-subtitle p {
  font-size: 1.4rem;
  opacity: 0.95;
  line-height: 1.8;
  text-align: justify;
}

.Digital_Marketing-preface-text-subtitle {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.4rem;
  opacity: 0.95;
  line-height: 1.8;
  text-align: justify;
}

.Digital_Marketing-question-containner {
  margin-bottom: 1px;
  margin-top: 1px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  /* สีเทาอ่อน */
  margin: 20px 0;
  /* ระยะห่างบน-ล่าง */
}


/* ====== css button ======  */
/* Container ปุ่ม จัดเรียงแนวนอน */
.Digital_Marketing-container-button {
  display: flex;
  gap: 20px;
  /* ระยะห่างระหว่างปุ่ม */
  justify-content: center;
  /* จัดกลาง container */
  margin-top: 30px;
}

/* Style ปุ่มพื้นฐาน */
.Digital_Marketing-btn {
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* ปุ่ม "นัดหมายพูดคุยฟรี" */
.Digital_Marketing-btn-appointment {
  /* background-color: #d94f87; dark pink / theme ของคุณ/ */
  color: #fff;
}

.Digital_Marketing-btn-appointment:hover {
  /* background-color: #ff70a0; */
  transform: scale(1.05);
}

/* ปุ่ม "ขอใบเสนอราคา" */
.Digital_Marketing-btn-quote {
  background-color: #fff;
  /* color: #d94f87; */
  /* border: 2px solid #d94f87; */
}

.Digital_Marketing-btn-quote:hover {
  /* background-color: #d94f87; */
  color: #fff;
  transform: scale(1.05);
}


@media (max-width: 768px) {

  .Digital_Marketing-containner {
    padding-left: 5%;
    padding-right: 5%;
  }

  .Digital_Marketing-containner-text {
    margin-top: 0px;
  }

  .Digital_Marketing-containner h1 {
    font-size: 3rem
  }

  .Digital_Marketing-preface-text-frist {
    font-size: 1.1rem;
  }

  .Digital_Marketing-preface-text {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  .Digital_Marketing-containner h2 {
    font-size: 2rem;
    margin-bottom: 2px;
  }


  .Digital_Marketing-containner h3 {
    font-size: 1.5rem;
  }


  .Digital_Marketing-preface-text-subtitle p {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
}