/* .section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 2rem;
} */

.Web_Development-containner {
    margin-top: 90px;
    align-items: start;
    padding-left: 20%;
    padding-right: 20%;
}

.Web_Development-containner h1 {
    font-size: 4rem;
    color: var(--primary);
    /* margin-bottom: 1rem; */
    text-shadow: 0 0 20px #d59f38;

}

.Web_Development-containner h2 {
    font-size: 2.6rem;
    color: var(--primary);
    /* margin-bottom: 1rem; */
    text-shadow: 0 0 20px #d59f38;
}

.Web_Development-containner h3 {
    font-size: 1.8rem;
    color: var(--primary);
    text-align: start;
    text-shadow: 0 0 20px #d59f38;
}

.Web_Development-containner-text {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.Web_Development-preface-text {
    font-size: 1.4rem;
    opacity: 0.95;
    line-height: 1.8;
    /* เพิ่มระยะบรรทัดให้อ่านง่าย */
    text-align: justify;
    /* จัดย่อหน้าเต็มบรรทัด */
}

.Web_Development-preface-text-frist {
    font-size: 1.4rem;
    opacity: 0.95;
    text-indent: 20px;
    line-height: 1.8;
    /* เพิ่มระยะบรรทัดให้อ่านง่าย */
    text-align: justify;
    /* จัดย่อหน้าเต็มบรรทัด */
}


.Web_Development-dot-Text {
    position: relative;
    font-size: 1.4rem;
    opacity: 0.95;
    line-height: 1.8;
    text-align: justify;
    padding-left: 20px;
    /* เว้นช่องไว้สำหรับจุด */
}

.Web_Development-submain-text {
    font-size: 2.5rem;
    color: var(--primary);
    margin: 20px 0px;
    text-shadow: 0 0 20px #d59f38;
}

.Web_Development-dot-Text::before {
    content: "•";
    /* จุดนำหน้า */
    position: absolute;
    left: 0;
    color: var(--primary);
    /* หรือเปลี่ยนสีได้ */
    font-weight: bold;
}

.Web_Development-containner-text-subtitle p {
    font-size: 1.4rem;
    opacity: 0.95;
    line-height: 1.8;
    text-align: justify;
}

.Web_Development-preface-text-subtitle {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.4rem;
    opacity: 0.95;
    line-height: 1.8;
    text-align: justify;
}

.Web_Development-question-containner {
    margin-bottom: 1px;
    margin-top: 1px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    /* สีเทาอ่อน */
    margin: 20px 0;
    /* ระยะห่างบน-ล่าง */
}




.Web_Development-quotation-text {
    font-size: 1.5rem;
    color: var(--primary);
    text-shadow: 0 0 20px #d59f38;
}


@media (max-width: 768px) {

    .Web_Development-containner {
        padding-left: 5%;
        padding-right: 5%;
    }

    .Web_Development-containner h1 {
        font-size: 2.7rem
    }

    .Web_Development-preface-text-frist {
        font-size: 1.1rem;
        line-height: 1.6;
        /* ระยะห่างระหว่างบรรทัด */
        margin-bottom: 10px;
        /* เว้นช่องแต่ละบรรทัด */
        text-align: left;
        /* จัดให้อ่านง่าย */
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }

    .Web_Development-containner h2 {
        font-size: 2rem;
    }

    .Web_Development-submain-text {
        font-size: 1.97rem;
        margin: 20px 0px;
    }

    .Web_Development-containner h3 {
        font-size: 1.5rem;
    }

    .Web_Development-dot-Text {
        font-size: 1.15rem;
        line-height: 1.6;
        /* ระยะห่างระหว่างบรรทัด */
        margin-bottom: 10px;
        /* เว้นช่องแต่ละบรรทัด */
        text-align: left;
        /* จัดให้อ่านง่าย */
        display: flex;
        align-items: flex-start;
        gap: 8px;
        /* ระยะห่างระหว่างจุดกับข้อความ */
    }

    .Web_Development-preface-text-subtitle p {
        font-size: 1.1rem;
        line-height: 1.6;
        /* ระยะห่างระหว่างบรรทัด */
        margin-bottom: 10px;
        /* เว้นช่องแต่ละบรรทัด */
        text-align: left;
        /* จัดให้อ่านง่าย */
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }

    .Web_Development-quotation-text {
        font-size: 1.2rem;
        line-height: 1.6;
        /* ระยะห่างระหว่างบรรทัด */
        margin-bottom: 10px;
        /* เว้นช่องแต่ละบรรทัด */
        text-align: left;
        /* จัดให้อ่านง่าย */
        display: flex;
        align-items: flex-start;
        gap: 8px;
    }
}